<!-- Oneway/Twoway selector tab -->
<div class="tab">
  <button id="oneway" class="tablinks" [ngClass]="{'active':_searchService.details.oneWay}" (click)="tripType()"><b>One
      Way</b></button>
  <button id="twoway" class="tablinks" [ngClass]="{'active':!_searchService.details.oneWay}" (click)="tripType()"><b>Return</b></button>
</div>

<div id="content">
  <!--Form for flight search-->
  <form (ngSubmit)="onSubmit(bookingDetailsForm)" #bookingDetailsForm="ngForm" style="margin-top: 15px;">

    <select [(ngModel)]="_searchService.details.departureCity" required [ngModelOptions]="{standalone: true}" id="departureCity"
      name="departureCity" #departureCity="ngModel" class="form-control">
      <option value="select">Select Origin City</option>
      <option *ngFor="let cities of _searchService.originCities" [value]="cities">{{cities | titlecase }}</option>
    </select>

    <div *ngIf="(departureCity.invalid && (departureCity.dirty || departureCity.touched)) || (_searchService.details.departureCity =='select' && (departureCity.dirty || departureCity.touched))">
      <sub style="color:#F74A4A; padding-left: 10px;"><span><img src="../../../assets/image/error.png" alt="HTML5 Icon"
            style="width:20px;height:20px;"></span><b>Please select a valid input.</b></sub>
    </div>

    <select [(ngModel)]="_searchService.details.arrivalCity" required [ngModelOptions]="{standalone: true}" id="arrivalCity"
      name="arrivalCity" #arrivalCity="ngModel" class="form-control">
      <option value="select">Select Destination City</option>
      <option *ngFor="let cities of _searchService.destinationCities" [value]="cities">{{cities | titlecase }}</option>
    </select>

    <div *ngIf="(arrivalCity.invalid && (arrivalCity.dirty || arrivalCity.touched)) || (_searchService.details.arrivalCity =='select' && (arrivalCity.dirty || arrivalCity.touched))">
      <sub style="color:#F74A4A; padding-left: 10px;"><span><img src="../../../assets/image/error.png" alt="HTML5 Icon"
            style="width:20px;height:20px;"></span><b>Please select a valid input. </b></sub>
    </div>

    <input type="date" class="form-control" required #departDate="ngModel" data-placeholder="Departure Date" id="departDate"
      name="departDate" min="2018-01-01" max="2019-01-01" aria-required="true" placeholder="YYYY-MM-DD" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"
      [(ngModel)]="_searchService.details.departDate">

    <div *ngIf="departDate.invalid && (departDate.dirty || departDate.touched)">
      <sub style="color:#F74A4A;padding-left: 10px;"><span><img src="../../../assets/image/error.png" alt="HTML5 Icon"
            style="width:20px;height:20px;"></span><b>Please provide a valid date.</b></sub>
    </div>
    <div *ngIf="!_searchService.details.oneWay">
      <input type="date" class="form-control" #returnDate="ngModel" id="returnDate" name="returnDate" data-placeholder="Return Date"
        min="2018-01-01" max="2019-01-01" aria-required="true" placeholder="YYYY-MM-DD" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"
        required [(ngModel)]="_searchService.details.returnDate">

      <div *ngIf="returnDate.invalid && (returnDate.dirty || returnDate.touched)">
        <sub style="color:#F74A4A;padding-left: 10px;"><span><img src="../../../assets/image/error.png" alt="HTML5 Icon"
              style="width:20px;height:20px;"></span><b>Please provide a valid date.</b></sub>
      </div>
    </div>

    <input type="number" name="passengersCount" placeholder="Passengers" min="1" class="form-control" #passengersCount="ngModel"
      id="passengersCount" required [(ngModel)]="_searchService.details.passengersCount">

    <div *ngIf="passengersCount.invalid && (passengersCount.dirty || passengersCount.touched)">
      <sub style="color:#F74A4A;padding-left: 10px;"><span><img src="../../../assets/image/error.png" alt="HTML5 Icon"
            style="width:20px;height:20px;"></span><b>Please provide a valid input.</b></sub>
    </div>

    <input type="submit" value="Submit" >

    <div *ngIf="invalidForm">
      <sub style="color:#F74A4A;padding-left: 10px;"><span><img src="../../../assets/image/error.png" alt="HTML5 Icon"
            style="width:20px;height:20px;"></span><b>Invalid Form Data</b></sub>
    </div>

    <div *ngIf="sameCity">
      <sub style="color:#F74A4A;padding-left: 10px;"><span><img src="../../../assets/image/error.png" alt="HTML5 Icon"
            style="width:20px;height:20px;"></span><b>Departure city and Arrival city cannot be same.</b></sub>
    </div>

  </form>

  <!--To refine the flight data as per price range-->
  <div class="refine-data" *ngIf="isSubmitted && _searchService.dataFound">
    <p style="font-weight: 700;font-size: 15px;">Price Range</p>
    <p class="range"><span style="padding-left: 3px;">50</span><span style="float: right;padding-right: 30px;">{{refinePrice}}</span></p>
    <input type="range" [(ngModel)]="refinePrice" steps="100" name="points" min="50" max="700" (change)="sliderChangeEvent($event)" />
  </div>
</div>