<div class="heading">
  <h1>Plan your trip</h1>
</div>
<div class="slideshow-container">
 
  <!-- Full-width images with number and caption text -->
  <div class="inner-container">
      <div class="mySlides fade">
          <img src="../../../assets/images/flight1.jpeg"  [ngStyle]="{'display':showImage[0]}"style="width:100%; max-height:400px;">
        </div>
      
        <div class="mySlides fade">
          <img src="../../../assets/images/flight2.jpeg" [ngStyle]="{'display':showImage[1]}" style="width:100%; max-height:400px;">
        </div>
      
        <div class="mySlides fade">
          <img src="../../../assets/images/flight3.jpeg" [ngStyle]="{'display':showImage[2]}" style="width:100%; max-height:400px;">
        </div>
  </div>
 

</div>