<!--To display city info and flight date -->
<div class="fly-card" *ngIf="_searchService.dataFound">
  <h3 *ngIf="_searchService.details.oneWay">{{_searchService.details.departureCity.toUpperCase()}}&nbsp;<span>&#9992;</span>&nbsp;{{_searchService.details.arrivalCity.toUpperCase()}}</h3>
  <h3 *ngIf="!_searchService.details.oneWay">{{_searchService.details.departureCity.toUpperCase()}}&nbsp;<span>&#9992;</span> &nbsp;{{_searchService.details.arrivalCity.toUpperCase()}}&nbsp;<span>&#9992;</span>&nbsp;{{_searchService.details.departureCity.toUpperCase()}}</h3>
  <div class="flightTimingInfo">
      <p>Departs: {{_searchService.details.departDate |date}}</p>
      <p *ngIf="!_searchService.details.oneWay">Returns: {{_searchService.details.returnDate |date}}</p>
  </div>
</div>