<header>
  <div class="header"><app-header></app-header></div>
</header>
<div class="data-section">
<div class="search-box">
<app-search-tab (refinedPriceOutput)="setRefinedPrice($event)" (submitOutput)="setDisplay($event)"></app-search-tab>
</div>

<div class="flight-card" >
<app-image-ads *ngIf="!display"></app-image-ads>
<app-display-container *ngIf="display" [refinedPrice]="refinedPrice" (fly)="updateFlying($event)"></app-display-container>
</div>
</div>
<footer>
<div class="footer">
<app-footer></app-footer>
</div>
</footer>

<div class="book-flight" [ngClass]="{'fly':fly}" (animationend)="fly=false"><span>&#9992;</span></div>